body {
  margin: 0;
  background-color: rgb(230, 230, 230);
}

.CurrPromotion {
  background-color: #f96302;
  color: white;
  height: 30px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
}

.CurrPromotion a {
  color: white;
}

.CurrPromotion a:link {
  text-decoration: none;
}

.CurrPromotion a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.body-container {
  margin: auto;
  max-width: 1440px;
}

.shop-cat-main{
  background-color: #0000;
}

.ShopByCategory-title {
  padding: 0 0 0 5px;
  font-size: 29px;
  font-family: Helvetica;
  font-weight: lighter;
  text-decoration-line: underline;
  text-decoration-color: #f96302;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.ShopByCategory-container {
  margin-left: 20px;
  margin-right: 20px;
}

.p-3 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 14px;
  color: black;
  background-color: white;
  max-width: 150px;
  height: 65px;
  text-align: left;
  padding-right: 20px;
  line-height: 1.25;
}

.p-3 a {
  color: black;
  margin-right: 10px;
}

.p-3 a:link {
  text-decoration: none;
}

.p-3 a:hover {
  text-decoration: underline;
  color: black;
}

.p-3 a .oneline {
  margin-top: 8px;
}

.img-fluid {
  padding-left: 5px;
  width: 65px;
  height: 65px;
}

.category-container {
  background-color: white;
  display: flex;
  align-items: center;
  height: 65px;
}

.grid3-main {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: solid lightgrey 2px;
}

.grid3 {
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  height: 260px;
}

.grid3card {
  margin-top: 10px;
  width: 285px;
  border: none;
  color: black;
  text-decoration: none;
}

.grid3card:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.grid3icon {
  margin: auto;
  width: 120px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.grid3card-title {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
}

.grid3card-text {
  margin-top: -10px;
  font-family: Helvetica;
  font-size: 12.5px;
}

.grid3link {
  text-decoration: none;
  color: black;
}

.grid3link:hover {
  text-decoration: underline;
  color: black;
}


/* NAVBAR CSS */

.navbar {
  background-color: white;
}

.top {
text-decoration: none;
width: 100%;
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
}
.top-link {
margin-right: 20px;
color: black;
font-size: 11px;
}

.top-link:hover {
text-decoration: underline;
color: black;
}

.mid {
display: flex;
width: 100%;
}
.mid-left {
flex: 2;
display: flex;
}
.shopping {
flex: 2;
display: flex;
}
.shopping-icon {
width: 28%;
height: 80%;
margin: auto;
margin-right: 20px;
margin-left: 10px;
}
.shopping,
p {
margin-top: 0;
margin-bottom: 0;
}
.delivery {
 background-color: white;
flex: 1;
border-left: 2px solid gray;
padding-left: 10px;
}
.mid-center {
flex: 3;
display: flex;
align-items: center;
position: relative;
}
.mid-input,
input {
width: 80%;
height: 40px;
margin: auto;
outline: none;
}
.mid-right {
flex: 2;
display: flex;
align-items: center;
justify-content: space-around;
}
.mid-right a {
color: black;
}
.mid-right,
.cart {
display: flex;
}
.mid-right,
.cart a {
padding-right: 5px;
}
.mid-right .cart div {
border-left: 1px solid black;
padding-left: 5px;
}
.bottom {
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}
.bottom-link {
font-family: helvetica;
color: black;
font-size: 14px;
}

.bottom-link:hover {
color: black;
text-decoration: underline;
text-decoration-color: #f96302;
text-decoration-thickness: 3px;
text-underline-offset: 10px;
font-weight: 900;
}

.text-color {
color: green;
}
.search-input {
padding-right: 30px;
}
.search-icon {
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
color: white;
background-color: #f96302;
}

.profile-icon,
.love-icon,
.cart-icon {
margin-left: 5px;
color: black;
background-color:transparent;
border-radius: 50%;
padding: 4px;
}
.wichita {
display: flex;
align-items: center;
}
.dropdown-icon {
margin-left: 5px;
color: #f96302;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

@media (max-width: 768px) {
.top {
  display: none;
}

.mid {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.mid-left,
.mid-right {
  width: 100%;
  text-align: center;
}

.shopping,
.delivery {
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  margin-bottom: 10px;
}

.profile-icon,
.love-icon,
.cart-icon {
  margin-right: 10px;
}

.bottom {
  display: none;
}
}

/* GRID1 CSS */

.g1-card-group{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.g1-card-1{
  background-color: white;
  width: 460px;
  text-align: left;
  padding: 16px;
  border: 1px solid gray;
  height: 450px;
}
.sign-in{
  color: black;
  float: left;
  margin-left: 350px;
  
}
.card1-img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}
.card1-button{
  margin-top: 100px;
  font-size: 15px;
  display: block;
  width: 400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: #f96302;
  color:white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;
}
.card1-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}

.g1-card-2{
  background-color: white;
  width: 460px;
  text-align: left;
  padding: 16px;
  border: 1px solid gray;
  height: 450px;
}

.card2-header{
  padding-top: 5px;
  font-size: 16px;
  font-style: bold;
  padding-bottom: 5px;
}
.card2-text{
  font-size: 14px;
}
.card2-button{
  margin-top: 270px;
  font-size: 15px;
  display: block;
  width: 400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: white;
  color:#f96302;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;
}

.card2-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}

.g1-card-3{
  background-color: white;
  width: 460px;
  text-align: center;
  padding: 16px;
  border: 1px solid gray;
  height: 450px;
}
.card3-button{
  margin-top: 10px;
  font-size: 15px;
  display: block;
  width: 400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: #f96302;
  color:white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;
}
.card3-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}



/* GRID4 CSS */

.July-title {
  background-color: #0000;

}

.G4-container {
  background-color: #0000;
}

.G4-col{
  background-color: #0000;
  
}

.G4-card {
  background-color: white;
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2.5rem;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 430px;
  
}

.G4-card-img-top {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.G4-card-title {
  font-weight: bold;
  text-align: left ;
}

.g4-card-text{
  text-align: left ;
}

.G4-shop-button {
  margin-top: 10px;
  font-size: 15px;
  display: block;
  width: 120px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: white;
  color:#f96302;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;

}

.G4-shop-button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}





/* GRID6 CSS */


.g6-main{
  background-color: #0000;
}

.g6-header{
  background-color: #0000;
  font-style: bold;
}

.g6-card-group {
  background-color: #0000;
  display: flex;
  flex-direction: table-row;
  justify-content: space-between;
}

.g6-card{
  background-color: white;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid gray ;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 260px;
  display: grey;
}

.g6-card:hover {
  box-shadow: 0px 2px 0px 0px gray;
  
}

.card-img-g6 {
  align-items: center;
  justify-content: center;
  padding: 0;
  display: block;
  margin: 10px;
  width: 160px;
  height: auto;
  margin-bottom: 0.5rem;
}

.g6-card-title {
  color: black;
  
}


/* GRID2 CSS */

.g2-main{
  margin-top: 40px;
}

.g2-card-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.g2-card-1{
  background-color: white;
  width: 460px;
  text-align: left;
  padding: 16px;
  border: 1px solid gray;
  height: 650px;
}

.card1-subhead{
  color:#f96302;
 font-size: 17px;
 padding: 16px 0px 0px;

}

.g2-card1-title{
  text-align: left;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 0px 16px;
}

.g2-job-done{
  text-align: left;
  font-size: 16px;
  padding: 0px 0px 16px;
}
.bullets{
  margin: 0px 0px 0px 1px;
}
.g2-card1-button{
  margin-top: 10px;
  font-size: 15px;
  display: block;
  width: 400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: white;
  color:#f96302;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;
}

.g2-card1-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}

.g2-card-2{
  align-items: center;
  background-color: white;
  width: 460px;
  text-align: center;
  padding: 0px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  height: 650px;
}



.g2-card2-title{
  text-align: left;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 200px;
  margin-left: 10px;
}

.g2-card-2-img{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 70px;
  padding: 10px;
  
}

.g2-card-img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 1px;
}

.g2-card2-button{
  color: gray;
  border-color: gray;
  height: 40px;
  width: 370px;
  font-size:large;
  background-color: white;
}

.g2-card2-button:hover{
  background-color: gray;
  color: white;
  border: none;
}


.g2-card-3{
  background-color: white;
  width: 460px;
  text-align: center;
  padding: 16px;
  border: 1px solid gray;
  height: 650px;
}

.g2-card3-title{
  text-align: left;
  font-size: 22px;
  font-weight: bolder;
}

.g2-location-title{
  color: black;
  text-align: left;
}

.g2-address-title{
  font-size: medium;
  font-style: bold;
  color: black;
  text-align: left;
}
.g2-address-text{
  text-align: left;
}

.g2-store-number{
  font-size: medium;
  font-style: bold;
  color: black;
  text-align: left;
}
.g2-hours-time{
  text-align: left;
  color:black;
}
.g2-hours-title{
  float: right;
}

.g2-change-store{
  font-size: medium;
  color: black;
  margin-left: 320px;
  margin-bottom: 30px;
  text-align: right;
  box-shadow: 0px 2px 0px 0px grey;
}

.g2-change-store:hover {
  box-shadow: 0px 2px 0px 0px #f96302;
  color:black
  
}

.g2-card3-button{
  margin-top: 10px;
  font-size: 15px;
  display: block;
  width: 400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: white;
  color:#f96302;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;

}

.g2-card3-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}

.tabWrapper button {
  border: 1.1px solid #ccc;
  color: #3e7697;
  font-size: 1rem;
  padding: 0 20px;
}

.tabWrapper button.clicked {
  border-bottom: 5px solid #f96302;
  color: #f96302;
}

.categories_title {
  font-family: helvetica-neue-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  padding: 20px;

}


/* RECOMMENDATIONS CSS */


.recommendations-section{
  margin-top: 20px;
  background-color: white;
  border: 1px solid gray ;
  width: 1600px;
  height: 400px;
  padding: 1.5rem;
}
.recommendations-header{
  text-align: left;
  font-weight: bolder;
}
.recommendation-subheader{
  text-align: left;
  font-weight: bold;
}
.recommendation-text{
  text-align: left;
}
.today-special-button{
  margin-top: 200px;
  font-size: 20px;
  display: block;
  width: 1400px;
  height: 45px;
  border: 2px solid #f96302;
  background-color: white;
  color:#f96302;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: none;
  font-weight: bold;
}

.today-special-button:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
}





