body {
  margin: 0;
}

.CurrPromotion {
  background-color: #f96302;
  color: white;
  height: 30px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
}

.CurrPromotion-text:link {
  text-decoration: none;
}

.CurrPromotion-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
